<!-- dinamic injection component -->
<div>
  <button (click)="destroyComponent()">
    Eliminar Componente
  </button>
  <button (click)="moveComponent()">
      Mover Componente
    </button>
  <div #entry></div>

  
  
  <ng-template #tmpl let-name let-location="location">
    {{ name }}: {{ location }}
  </ng-template>

  <br>

  <ng-container
    *ngTemplateOutlet="tmpldinamic; context:ctx">
  </ng-container>

  <ng-template #tmpldinamic let-name let-location="location">
      {{ name }}: {{ location }}
    </ng-template>
</div>

<!-- <auth-form (submitted)="createUser($event)">
  <h3>Registro de Usuario</h3>
  <button type="submit">
    Unete
  </button>
</auth-form> -->

<!-- <auth-form (submitted)="loginUser($event)">
  <h3>Login de Usuario</h3>
  <auth-remember (checked)="rememberUser($event)"></auth-remember>
  <auth-remember (checked)="rememberUser($event)"></auth-remember>
  <auth-remember (checked)="rememberUser($event)"></auth-remember>
  <button type="submit">
    Iniciar
  </button>
</auth-form> -->

